<ion-tabs>
  <ion-tab-bar color="light" slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon class="icones" name="book-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pesquisa">
      <ion-icon class="icones" name="search"></ion-icon>
      <ion-label>Pesquisa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="meu-perfil">
      <ion-icon class="icones" name="person-circle"></ion-icon>
      <ion-label>Meu Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>