.nomeDoUsuario {
    text-align: center;
    margin-top: 1vh;
}

.menu {
    margin-top: 1vh;
}

.menu-opcoes {
    border: 2px solid;
    width: 80%;
    margin-left: 1.5vw;
    height: 60%;
    border-radius: 10vw;
}

.avatar {
    width: 20vw;
    height: 20vh;
    margin-top: auto;
    margin-left: 5vw;
}

.dados-usuario {
    margin-left: 5vw;
    margin-top: 5vh;
}

.menu-opcoes ion-label {
    font-size: 8px;
    color: #FFFFFF;
}