<ion-header [translucent]="true">
  <ion-toolbar color="">
    <ion-buttons slot="start" (click)="voltar()">
      <img class="botao-voltar" src="/assets/imagens/botao-voltar.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="masters">
  <h2>Página de Login</h2>

  <ion-row>
    <ion-img src="/assets/imagens/icone-login.png" alt="Icone"></ion-img>
  </ion-row>

  <hr>

  <form [formGroup]="formGroup" (ngSubmit)="autenticar()">

    <div class="campoEmail">
      <ion-input label="Email" fill="solid" type="text" formControlName="email">
      </ion-input>
    </div>
    <div class="campoSenha">
      <ion-input label="Senha" fill="solid" type="password" formControlName="senha">
        <ion-input-password-toggle color="dark" slot="end"></ion-input-password-toggle>
      </ion-input>
    </div>
    <hr>

    <ion-button type="submit" expand="block" color="dark" class="custom-button"
      [disabled]="!formGroup.valid">Entrar</ion-button>
  </form>
</ion-content>