<ion-header [translucent]="true">
  <ion-toolbar color="">
    <ion-buttons slot="start" (click)="voltar()">
      <img class="botao-voltar" src="/assets/imagens/botao-voltar.png">
    </ion-buttons>
    <ion-title>Visualizar Mangá</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="espaco-banner">
    <img class="banner" src="/assets/imagens/capa.jpg">
  </div>

  <div *ngIf="manga" class="container">

    <div class="espaco-capa">
      <img class="capa" [src]="getCapa()" />

      <!--
      <ion-button color="light" class="mais-opcoes" id="abrir-opcoes">...</ion-button>
      <ion-action-sheet trigger="abrir-opcoes" header="O que deseja fazer?"
        [buttons]="actionSheetButtons"></ion-action-sheet>
      -->
    </div>


    <div class="titulo-favorito">
      <h2 class="titulo">{{ manga.titulo }}</h2>
    </div>

    <div class="container-autor">
      <p class="autor"> por {{ manga.autor}}</p>
    </div>

   <!-- Campo de estrelas
    <ul class="list-inline rating-list">
      <li *ngFor="let star of stars; let i = index" (click)="countStar(star)" [ngClass]="{'selected': (star <= nota)}">
        <span class="material-icons">
          <ion-icon name="star"></ion-icon>
        </span>
      </li>
    </ul>
    <p>Sua nota: {{ nota }}</p>

  -->
    <ion-img class="estrelas" src="/assets/imagens/estrelas.png"></ion-img>


    <p class="status">{{ manga.status }}</p>

    <div class="informacoes-adicionais">

      <div class="infos">
        <ion-icon name="clipboard-outline"></ion-icon>
        <p class="qtdDeCapitulos"> {{ manga.qtdDeCapitulos}} Capitulos</p>
      </div>

      <div class="infos">
        <ion-icon classe="infos-icones" name="book-outline"></ion-icon>
        <p class="qtdDeVolumes"> {{ manga.qtdDeVolumes}} Volumes</p>
      </div>

      <div class="infos">
        <ion-icon name="calendar-number-outline"></ion-icon>
        <p class="anoP">{{ manga.anoDePublicacao | date:'yyyy' }}</p> <!-- Mostrar somente o ano -->
      </div>

    </div>

    <div class="acoes-usuario">
      <div class="acoes" (click)="marcarVisto()">
        <img [src]="visto.idManga !== 0 ? 'assets/imagens/visto.png' : 'assets/imagens/nao-visto.png'"
          class="acoes-usuario-icone" />
      </div>
      <div class="acoes" (click)="marcarLerDepois()">
        <img [src]="lerDepois.idManga !== 0 ? 'assets/imagens/nao-ler.png' : 'assets/imagens/ler-depois.png'"
          class="acoes-usuario-icone" />
      </div>
      <div class="acoes" (click)="marcarCurtida()">
        <img [src]="curtida.idManga !== 0 ? 'assets/imagens/curtido.png' : 'assets/imagens/nao-curtido.png'"
          class="acoes-usuario-icone" />
      </div>
      <div class="acoes">
        <ion-icon name="pencil" class="acoes-usuario-icone" (click)="addReview(manga.idManga)"></ion-icon>
      </div>


    </div>


    <hr>

    <div class="sinopse-container"> <!-- Colocar opção de "ler mais" -->
      <p class="sinopse" [class.expanded]="isExpanded">{{ Sinopse }}</p>
      <button (click)="expandir()">
        <ion-icon name="{{ isExpanded ? 'chevron-up' : 'chevron-down' }}"></ion-icon>
      </button>
    </div>

    <hr>

    <div class="botoes">
      <ion-button class="botao-avaliacoes" size="medium" (click)="abrirAvaliacoes(manga.idManga)">
        <ion-icon slot="start" name="star"></ion-icon>
        Avaliações
      </ion-button>

      <ion-button class="botao-reviews" color="success" size="medium" (click)="abrirReviews(manga.idManga)">
        <ion-icon slot="start" name="reader-outline"></ion-icon>
        Reviews
      </ion-button>
    </div>

  </div>

</ion-content>