<ion-header [translucent]="true">
  <ion-toolbar color="">
    <ion-buttons slot="start">
      <ion-back-button defautHref="/tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="espaco-banner">
    <img class="banner" src="/assets/imagens/capa.jpg">
  </div>

  <div *ngIf="manga" class="container">

    <div class="espaco-capa">
      <img class="capa" [src]="getCapa()" />

      <!--
      <ion-button color="light" class="mais-opcoes" id="abrir-opcoes">...</ion-button>
      <ion-action-sheet trigger="abrir-opcoes" header="O que deseja fazer?"
        [buttons]="actionSheetButtons"></ion-action-sheet>
      -->
    </div>


    <div class="titulo-favorito">
      <h2 class="titulo">{{ manga.titulo }}</h2>
    </div>

    <div class="container-autor">
      <p class="autor"> por {{ manga.autor}}</p>
    </div>

    <div class="avaliacaoManga">
      <span>{{nota}} </span>
      <ion-icon class="estrelaNota" name="star" color="warning"></ion-icon>
    </div>

    <p class="status">{{ manga.status }}</p>

    <div class="informacoes-adicionais">

      <div class="infos">
        <ion-icon name="clipboard-outline"></ion-icon>
        <p class="qtdDeCapitulos"> {{ manga.qtdDeCapitulos}} Capitulos</p>
      </div>

      <div class="infos">
        <ion-icon classe="infos-icones" name="book-outline"></ion-icon>
        <p class="qtdDeVolumes"> {{ manga.qtdDeVolumes}} Volumes</p>
      </div>

      <div class="infos">
        <ion-icon name="calendar-number-outline"></ion-icon>
        <p class="anoP">{{ manga.anoDePublicacao | date:'yyyy' }}</p> <!-- Mostrar somente o ano -->
      </div>

    </div>

    <div class="acoes-usuario">
      <br>
      <hr>
      <div class="caixaBotoes">
        <!-- Ícone de Visto -->
        <div class="acoes" (click)="marcarVisto()">
          <ion-icon name="eye" [color]="visto.idManga !== 0 ? 'success' : 'medium'"
            class="acoes-usuario-icone"></ion-icon>
          <span>Lido</span>
        </div>

        <!-- Ícone de Ler Depois -->
        <div class="acoes" (click)="marcarLerDepois()">
          <ion-icon name="time" [color]="lerDepois.idManga !== 0 ? 'primary' : 'medium'"
            class="acoes-usuario-icone"></ion-icon>
          <span>Ler Depois</span>
        </div>

        <!-- Ícone de Curtir -->
        <div class="acoes" (click)="marcarCurtida()">
          <ion-icon name="heart" [color]="curtida.idManga !== 0 ? 'danger' : 'medium'"
            class="acoes-usuario-icone"></ion-icon>
          <span>Curtir</span>
        </div>
      </div>

      <br>
      <hr>

      <div class="caixaAvaliacao">
        <span>Minha Avaliação</span>
        <!-- Estrelas de Avaliação -->
        <div class="linhaCaixaAvaliacao">
          <div class="estrela-container">
            <ion-icon *ngFor="let estrela of estrelas; let i = index" name="star" [color]="getCorEstrela(i)"
              (click)="avaliar(i + 1)" size="large" color="primary"></ion-icon>
          </div>

          <button class="btn-fechar" (click)="excluirAvaliacao()">
            x
          </button>
        </div>

      </div>

      <br>
      <hr>

      <div class="caixaReview">
        <!-- Ícone de Avaliação (pencil) -->
        <div class="botaoReview" (click)="addReview(manga.idManga)">
          <ion-icon name="create" class="acoes-usuario-icone"></ion-icon>
          <span>Fazer Review</span>
        </div>
      </div>
    </div>

    <br>
    <hr>

    <div class="sinopse-container"> <!-- Colocar opção de "ler mais" -->
      <p class="sinopse" [class.expanded]="isExpanded">{{ Sinopse }}</p>
      <button (click)="expandir()">
        <ion-icon name="{{ isExpanded ? 'chevron-up' : 'chevron-down' }}"></ion-icon>
      </button>
    </div>

    <hr>

    <div class="botoes">
      <ion-button class="botao-avaliacoes" size="medium" (click)="abrirAvaliacoes(manga.idManga)">
        <ion-icon slot="start" name="star"></ion-icon>
        Avaliações
      </ion-button>

      <ion-button class="botao-reviews" color="success" size="medium" (click)="abrirReviews(manga.idManga)">
        <ion-icon slot="start" name="reader-outline"></ion-icon>
        Reviews
      </ion-button>
    </div>

  </div>

</ion-content>