.titulo {
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.populares .header {
    margin-left: 2vw;
    margin-right: 2vw;
    display: flex;
    align-items: center;
}

.populares ion-text {
    margin-top: 8vh;
    margin-right: 10px;
}

.populares hr {
    margin-top: 10vh;
    margin-right: 2vw;
    flex: 1;
    border-top: 1px solid #ccc;
}

.populares .ver-mais {
    margin-top: 8vh;
}

/* Ajustar a lista de mangas */
.manga-list {
    display: grid;
    justify-content: center; /* Centraliza a grade no meio */
    grid-template-columns: repeat(4, 90px); /* Ajustar o número de colunas conforme necessário */
    grid-template-rows: repeat(4, 150px);
    gap: 2vw; /* Espaçamento entre os elementos */
    margin-top: 2vh;
}

/* Ajustar o estilo dos itens */
.manga-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 18vh;
    width: auto; /* Mantém a proporção da imagem */
}
