<ion-header [translucent]="true">
  <ion-toolbar>
    <h2 class="titulo">Ohara</h2>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="populares">

    <div class="header">
      <ion-text>Populares</ion-text>
      <hr>
      <span class="ver-mais" (click)="verMais()">Ver mais</span>
      
    </div>

  </div>

  <div class="manga-list">
    <div *ngFor="let manga of mangas" class="manga-item">
      <img class="ion-img" [src]="manga.capa" alt="Capa do Mangá" (click)="onMangaClick(manga.idManga)" /> 
    </div>
  </div>
</ion-content>