<ion-header [translucent]="true">
  <ion-toolbar color="">
    <ion-buttons slot="start">
      <ion-back-button defautHref="/inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">

    <form [formGroup]="formGroup" (ngSubmit)="cadastrar()">

      <h2>Cadastrar Usuário</h2>

      <!-- Pré-visualização da imagem -->
      <div class="previewImagem" *ngIf="avatarPreview">
        <div class="circle-container">
          <ion-img [src]="avatarPreview" class="circle-image"></ion-img>
        </div>
      </div>


      <!-- Campo para upload de imagem -->
      <div class="campoAvatar">
        <input type="file" (change)="onFileChange($event)" accept="image/*">
      </div>

      <hr>

      <div class="personalizacao-campos">
        <ion-input label="Nome" fill="solid" type="text" formControlName="nome"></ion-input>
      </div>

      <div class="personalizacao-campos">
        <ion-input label="Email" fill="solid" type="text" formControlName="email"></ion-input>
      </div>

      <div class="personalizacao-campos">
        <ion-input label="Senha" fill="solid" type="password" formControlName="senha">
          <ion-input-password-toggle color="dark" slot="end"></ion-input-password-toggle>
        </ion-input>
      </div>

      <ion-button type="submit" expand="block" color="dark" class="custom-button"
        [disabled]="!formGroup.valid">Cadastrar</ion-button>
    </form>
  </div>

</ion-content>